
:root {
    --cor-primaria: #00adf7;
    --cor-secundaria: #048eb4db;
}


/* CSS RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
}

.btn {
   min-width: 95px;
   margin-right: 3px; 
}

